<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='menu'>
  <%= link_to 'Houses', houses_path -%> | 
  <%= link_to 'Students', students_path -%>
</div>
<%= yield -%>

</body>
</html>
